## Rivaldo (2117051054)

## Artificial Neural Network

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/rahmantaufik27/dataset/main/study/churn_bank_customer.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
# split data menjadi data X dan Y (target/dependent variable)
# data Exited digunakan sebagai data Y
Y = df.iloc[:, -1].values
# selain data Exited RowNumber, CostumerId, Surname, sigunakan sebagai data X
X = df.iloc[:, 3:-1].values
print(Y)
print(X)

[1 0 1 ... 1 1 0]
[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
# untuk data X, kita ubah terlebih dahulu data categorical (Geography, Gender) menjadi number
le = LabelEncoder()
X[:, 2] = np.array(le.fit_transform(X[:, 2]))
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [ ]:
# split data otomatis/random menggunakan fungsi library tertentu
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [ ]:
# scaling data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Modeling

In [ ]:
# buat fungsi untuk pemodelan ANN
model_ann = tf.keras.Sequential([
    tf.keras.layers.Dense(units = 6, activation="relu"),
    tf.keras.layers.Dense(units = 6, activation="relu"),
    tf.keras.layers.Dense(units = 1, activation="sigmoid")
])
# compile model ann
model_ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
# fitiing data dengan model ann yang dibuat
model_ann.fit(X_train, Y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7903
Epoch 2/100
250/250 [==============================] - 0s 998us/step - loss: 0.4687 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4463 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4365 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4307 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 991us/step - loss: 0.4261 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 0s 952us/step - loss: 0.4222 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4181 - accuracy: 0.7960
Epoch 9/100
250/250 [==============================] - 0s 971us/step - loss: 0.4146 - accuracy: 0.7962
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4113 - accuracy: 0.8061
Epoch 11/100
250/250 [==============================] - 0s 999us/step - loss: 0.4081 - accuracy: 0.8145
Epoch 12/100
250/250 [==============================] - 0s 989us/step - loss: 0.4045 - accuracy: 0.8154
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4010 - accuracy: 0.8165
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3971 - accuracy: 0.8186
Epoch 15/100
250/250 [==============================] - 0s 962us/step - loss: 0.3928 - accuracy: 0.8214
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3882 - accuracy: 0.8319
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3835 - accuracy: 0.8370
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3791 - accuracy: 0.8407
Epoch 19/100
250/250 [==============================] - 0s 981us/step - loss: 0.3743 - accuracy: 0.8447
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3698 - accuracy: 0.8468
Epoch 21/100
250/250 [==============================] - 0s 972us/step - loss: 0.3669 - accuracy: 0.8490
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3633 - accuracy: 0.8504
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3605 - accuracy: 0.8526
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3588 - accuracy: 0.8541
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8547
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3549 - accuracy: 0.8564
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8571
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8577
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8568
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8591
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8587
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8602
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8595
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8601
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8604
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8608
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8606
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8584
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8589
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8602
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8593
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3441 - accuracy: 0.8621
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8594
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8604
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8604
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8599
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8606
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8596
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8604
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8614
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8609
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3418 - accuracy: 0.8624
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8606
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8619
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8612
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8601
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8604
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8608
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8630
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8616
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8621
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8608
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8636
Epoch 64/100
250/250 [==============================] - 0s 969us/step - loss: 0.3404 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8611
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8614
Epoch 67/100
250/250 [==============================] - 0s 981us/step - loss: 0.3400 - accuracy: 0.8622
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8619
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3396 - accuracy: 0.8622
Epoch 70/100
250/250 [==============================] - 0s 993us/step - loss: 0.3397 - accuracy: 0.8621
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3399 - accuracy: 0.8609
Epoch 72/100
250/250 [==============================] - 0s 990us/step - loss: 0.3399 - accuracy: 0.8616
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8622
Epoch 74/100
250/250 [==============================] - 0s 973us/step - loss: 0.3393 - accuracy: 0.8626
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8625
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8629
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8612
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8627
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8618
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8619
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8624
Epoch 82/100
250/250 [==============================] - 0s 954us/step - loss: 0.3386 - accuracy: 0.8619
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8629
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8629
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8616
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8636
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8621
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8626
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8621
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8630
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8634
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8633
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8636
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8618
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8615
Epoch 96/100
250/250 [==============================] - 0s 979us/step - loss: 0.3384 - accuracy: 0.8630
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8626
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8625
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8631
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8637

## Evaluation

In [ ]:
model_ann.evaluate(X_test, Y_test, batch_size = 8)

250/250 [==============================] - 0s 831us/step - loss: 0.3358 - accuracy: 0.8615

[0.3357788622379303, 0.8615000247955322]

In [ ]:
# coba prediksi suatu data
print(model_ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 64ms/step
[[False]]